<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tienda online - Productos en tiempo real</title>
</head>
<body>
  <h1>Tienda online - Productos en tiempo real</h1>
  <ul id="products">
    {{#each paginatedProducts.data as |product|}}
      <li>
        <a href="/products/details/{{product.id}}">{{product.name}}</a> - {{product.price}}
      </li>
    {{/each}}
  </ul>
  <nav>
    {{#if paginatedProducts.prevPage}}
      <a href="/products?page={{paginatedProducts.prevPage}}">Anterior</a>
    {{/if}}
    {{#if paginatedProducts.nextPage}}
      <a href="/products?page={{paginatedProducts.nextPage}}">Siguiente</a>
    {{/if}}
  </nav>
  <script>
  socket.on("products", (products) => {
   
    const paginatedProducts = paginate(products, {
      perPage: 10, 
      page: req.query.page, 
    });
    
    socket.emit("products", paginatedProducts);
  });
  </script>
</body>
</html>

